#pricing-plans {
    margin-top: -7rem;
}

img {
    border-radius: .4rem;
}

.counter {
    font-size: 2.1vh !important;
    font-weight: bold;
}

#footer-cont {
    margin-bottom: 0;
}

.box-shadow-1:before {
    content:initial;
}

#fee-struct {
    margin-bottom: 0;
}