#pricing-plans {
    margin-top: -7rem;
}

img {
    border-radius: .4rem;
}

.counter {
    font-size: 2.1vh !important;
    font-weight: bold;
}

#footer-cont {
    margin-bottom: 0;
}

.box-shadow-1:before {
    content:initial;
}

#fee-struct {
    margin-bottom: 0;
}

.process-step {
    position: static !important;
    height: min-content;
    margin-bottom: 12px;    
    padding: 20px !important;
}

#invest-rational {
    opacity: initial;
}

#slide-2 {
    opacity: .5;
}

.irPoints {
    margin-top: 1rem;
}

.irPoints p, .irPoints h2 {
    text-align: left;
    padding-left: 1rem;
}

.irPoints p {
    margin: .4rem;
}

.pdf-section {
    position: sticky;
}

iframe {
    display:block;
    margin-bottom: 7rem;
}

#levels-3 {
    width: 100%;
    display: flexbox;
    margin: 0 auto;
}

.vid-sec {
    margin: 1.75rem 0;
}

.main-content {
    display: flex;
}
